<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="well">
      <h1>Category: <%= @category.name %>
        <%= link_to 'Edit', edit_category_path(@category), class: 'btn btn-warning' %> |
        <%= link_to 'Back', categories_path, class: 'btn btn-primary' %>
      </h1>
    </div>

    <div class="well">
      <h1>Create new Product</h1>
      <%= form_with(model: [ @category, @product ]) do |form| %>
        <%= form.label :name %>
        <%= form.text_field :name %>
        <%= form.label :price %>
        <%= form.number_field :price %>
        <br>
        <br>
        <%= form.submit class: 'btn btn-primary' %>
      <% end %>
      <br>
      <hr class="style-seven">
      <h2>Listado de Productos</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th><th>Price</th><th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <% @category.products.each do |product| %>
            <tr>
              <td><%= product.name %></td><td><%= product.price %></td><td><%= link_to 'Borrar', category_product_path(product.category, product), method: 'delete', class: 'btn btn-danger' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
